<div class="timeline">
  <header>
    <h1>Shouts</h1>
  </header>
  <%= render @shouts %>
</div>

<%=form_for @text_shout do |form|%>
  <%= form.text_field :body %>
<%= button_tag icon('bullhorn') %>
   <%end%>

   <%=form_for @photo_shout do |form|%>
  <%= form.file_field :image %>
<%= button_tag icon('bullhorn') %>
   <%end%>

<div class="following">
  Following: <%= render current_user.followed_users %>
 </div>

<div class="followers">
  Followers: <%= render current_user.followers %>
 </div>

